<br><br><br><br><br>
<h1 class="text-center">Guides List</h1>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sl.no</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">District</th>
        <th scope="col">State</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">DOB</th>
        <th scope="col">ID</th>
        <th scope="col">BIO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let guide of guides">
        <td>{{guide._id}}</td>
        <td>{{guide.first_name}}</td>
        <td>{{guide.last_name}}</td>
        <td>{{guide.district}}</td>
        <td>{{guide.state}}</td>
        <td>{{guide.gender}}</td>
        <td>{{guide.email}}</td>
        <td>{{guide.phone}}</td>
        <td>{{guide.dob}}</td>
        <td>{{guide.id_proof}}</td>
        <td>{{guide.biodata}}</td>
        
      </tr>
    </tbody>

  </table>




<br><br><br><br><br>

<!-- Guides of tripsita starts -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
    <!-- <div class="col-4"> -->
      <!-- Section Heading-->
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <h3>Guides <span> of Tripista</span></h3>
        <p></p><br><br>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row guide-grid">
    <!-- Single Advisor-->
    <ng-container class="guide-container"  *ngFor="let guide of guides">
      <ng-container *ngIf="guide.district == 'Alappuzha'">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
          <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> 
        <!-- Team Details-->
            <div class="single_advisor_details_info">
              <h6><strong>{{guide.first_name}} {{guide.last_name}}</strong></h6>
              <p class="designation">{{guide.dob}}</p>
              <p class="designation">{{guide.district}}</p>
              <p class="designation">{{guide.gender}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

<!-- Guides of tripsita starts ends -->
