<section class="vh-100" style="background-color: rgb(238, 238, 238);">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">


            <div class="row">
            <div class="col-md-12 text-center">
                <h2>Edit Hotel</h2>
                <br><br>
            </div>

            <div class="row">
                <form [formGroup]="addHotel" novalidate class="form">
                    <div class="row">
                        <div class="col md-2"></div>
                        <div class="col m-2">Name</div>
                            <div class="col-md-6"><input type="text" style="color: black;" formControlName="hotelName" class="form-control"></div>
                        </div>
                        <div>
                            <div class="col md-2"></div>
                        </div>



                    <div class="row">
                        <div class="col md-2"></div>
                        <div class="col m-2">Star Rating</div>
                            <div class="col-md-6"><input type="text" style="color: black;" formControlName="hotelStarrating" class="form-control"></div>
                        </div>
                        <div>
                            <div class="col md-2"></div>
                        </div>
                    <div class="row">
                        <div class="col md-2"></div>
                        <div class="col m-2">Hotel Price</div>
                            <div class="col-md-6"><input type="text" style="color: black;" formControlName="hotelPrice" class="form-control"></div>
                        </div>
                        <div>
                            <div class="col md-2"></div>
                        </div>
                    <div class="row">
                        <div class="col md-2"></div>
                        <div class="col m-2">Place</div>
                            <div class="col-md-6"><input type="text" style="color: black;" formControlName="hotelAddress" class="form-control"></div>
                        </div>
                        <div>
                            <div class="col md-2"></div>
                        </div>
                    <div class="row">
                        <div class="col md-2"></div>
                        <div class="col m-2">Contact</div>
                            <div class="col-md-6"><input type="text" style="color: black;" formControlName="hotelContact" class="form-control"></div>
                        </div>
                        <div>
                            <div class="col md-2"></div>
                        </div>
                    <div class="row">
                        <div class="col md-2"></div>
                        <div class="col m-2">Website</div>
                            <div class="col-md-6"><input type="text" style="color: black;" formControlName="hotelWebsite" class="form-control"></div>
                        </div>
                        <div>
                            <div class="col md-2"></div>
                        </div>
                    <div class="row">
                        <div class="col md-2"></div>
                        <div class="col m-2">Image URL</div>
                            <div class="col-md-6"><input type="text" style="color: black;" formControlName="hotelImageUrl" class="form-control"></div>
                        </div>
                        <div>
                            <div class="col md-2"></div>
                        </div>


                        <br>
                   


                        <div class="row">
                            <div class="col md-2"></div>
                                <div class="col-md-8 text-center">
                                    <button type="submit" (click)="onSubmit()" class="btn btn-success ">Update Hotel</button>
                                    </div>
                            </div>
                            <div>
                                <div class="col md-2"></div>
                            </div>


                            <br>










                        <!-- <div class="col m-4">Hotel Starrating</div>
                        <div class="col m-4">Hotel Price</div>
                        <div class="col m-4">Hotel Address</div>
                        <div class="col m-4">Hotel Contact</div>
                        <div class="col m-4">Hotel Website</div>
                        <div class="col m-4">Hotel Image</div> -->
                    
                
                
              
            </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>




















