.hdupdht{
    font-size: 30px;
    font-weight: 600;
    color: dodgerblue;
}
.btn{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.row{
    margin-top: 10px;
}