<!-- <app-header></app-header> -->
<br><br><br>
    <section id="places" class="p-3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h5 class="display-4">
                        <span class="text-teal">Districts of Kerala </span>
                    </h5>
                    <p class="lead">Explore the God's Own Country!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="alappuzha"><img src ="/assets/img/gallery/Ala123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="/districts/alappuzha"><h3 class="card-title">Alappuzha</h3></a>
                            <p class="card-text">Referred to as the Venice of the East, Alappuzha has always enjoyed an important place in the maritime history of Kerala. Today, it is famous for its boat races, backwater holidays, beaches, marine products and coir industry. Alappuzha Beach is a popular picnic spot. The pier, which extends out to the sea here, is over 137 years old. Entertainment facilities at the Vijaya Beach Park add to the attraction of the beach.
                            </p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="ernakulam"><img src="/assets/img/gallery/er123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="ernakulam"><h3 class="card-title">Ernakulam</h3></a>
                            <p class="card-text">Ernakulam refers to the eastern, mainland portion of the twin cities of Ernakulam-Kochi in central Kerala, India. Located on the coast of the Arabian Sea, Ernakulam is a booming business metropolis. It is often referred to as the commercial capital of Kerala. Ernakulam has been a part of human settlements since the Stone Age. Rock-cut caves and dolmens are still a part of this city.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="idukki"><img src="/assets/img/gallery/id123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="idukki"><h3 class="card-title">Idukki</h3></a>
                            <p class="card-text">Idukki, a landlocked district of Kerala, is one of the most nature-rich areas in Kerala with more than half of the area covered with forest. This rugged hill resort is known for its wildlife sanctuaries, beautiful bungalows, tea factories, rubber plantations and forests.Idukki's speciality lies in 650 feet long and 550 feet high arch dam across the Kuravan Kurathi mountain, which is the largest in the country.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col text-center">
                     <button class="btn btn-dark btn-lg">
                        <i class="fa fa-play mr-2"></i> Start Booking
                    </button> -->
                </div>

      </section>




      <!-- Popular Places -->
      <section id="places" class="p-3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="kannur"><img src="/assets/img/gallery/kan123.webp" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="kannur"><h3 class="card-title">Kannur</h3></a>
                            <p class="card-text">Kannur is most renowned for the Theyyam performances in its temples. This magnificent art form plays an integral part in the culture of this Northern Kerala district. Formerly known as Cannanore, Marco Polo christened it a ‘Great Emporium Of Spice Trade’. Kannur has, since time immemorial, been hailed as an influential sea port. Legend has it that it had interactions and trade relations with the rest of the world since the time of King Solomon to the Greeks, Arabs and Romans.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="kasaragod"><img src="/assets/img/gallery/kas123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="kasaragod"><h3 class="card-title">Kasaragod</h3></a>
                            <p class="card-text">The northernmost district of Kerala, Kasaragod is renowned for its hills, forts and water bodies. The coir and handloom industry here are extremely famous around the world. The place is also popular for its ancient temples and rich biodiversity. It is an important border district as well that regulates trade with a lot of neighbouring States. Legends regarding the district greet you at every turn on a visit here. A trip here is incomplete without visiting Bekal Fort, the most majestic and well maintained fort in South India.
                            </p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="kollam"><img src="/assets/img/gallery/kol123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="kollam"><h3 class="card-title">Kollam</h3></a>
                            <p class="card-text">From Ibn Batuta to Marco Polo, legendary explorers have talked about the prominence of Kollam district for centuries. Blessed with a long coastline, it is the de facto leader of the cashew trade and processing industry in India. It is historically remembered as being among the most important ports which were part of the legendary Spice Trade. Over a third of its surface is covered by the great Ashtamudi Lake, the entrance to the renowned backwaters of Kerala.&emsp;&emsp;&emsp;</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col text-center">
                     <button class="btn btn-dark btn-lg">
                        <i class="fa fa-play mr-2"></i> Start Booking
                    </button> -->
                </div>

      </section>




      <!-- Popular Places -->
      <section id="places" class="p-3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="kottayam"><img src="/assets/img/gallery/kot123.jpeg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="kottayam"><h3 class="card-title">Kottayam</h3></a>
                            <p class="card-text">Kottayam district is famous for its rich heritage and literary tradition. It is renowned for its spice and rubber trade. Cradled by the backwaters and the Western Ghats, it is epitomised by its stretches of vast greenery, paddy fields and huge rubber plantations. Over five of the State’s leading newspaper publications originate from Kottayam. About four-fifth of books published in the State come from here as well.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="kozhikode"><img src="/assets/img/gallery/koz123.webp" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="kozhikode"><h3 class="card-title">Kozhikode</h3></a>
                            <p class="card-text">Kozhikode will always have a special place in the history of Kerala as it is here that Vasco-da-Gama first landed and the legendarySpice Route came into existence. This region still has a historic charm to it. Kozhikode Beach is the personification of the numerous characteristics that make Kozhikode so unique.People flock in large numbers to view the sunset from the beach. One gets a fresh supply of seafood in the shacks that surround the place.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="malappuram"><img src="/assets/img/gallery/mal123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="malappuram"><h3 class="card-title">Malappuram</h3></a>
                            <p class="card-text">Bounded by the Nilgiris hills on the East and the Arabian Sea on the west, the district of Malappuram literally the land atop the hills, is remarkable for its unique natural beauty. Perched among the undulating hills and the meandering rivers that flow to reach the coconut-fringed seacoast, the land conceals a unique and eventful history. The hill country also contributed much to the cultural artistic traditions of the state. &emsp;&emsp;</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col text-center">
                     <button class="btn btn-dark btn-lg">
                        <i class="fa fa-play mr-2"></i> Start Booking
                    </button> -->
                </div>

      </section>




      <!-- Popular Places -->
      <section id="places" class="p-3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="palakkad"><img src="/assets/img/gallery/pal123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="palakkad"><h3 class="card-title">Palakkad</h3></a>
                            <p class="card-text">Palakkad is one of the fourteen districts of Kerala and has no coastal line. The district opens the state to the rest of the country through the Palakkad Gap with a width of 32 to 40 Kms. Its geographical position, historical background, educational status, tourism hot-spots and above all, the development activities that are carried out, are wide and varied. The district is one of the main granaries of Kerala and its economy is primarily agricultural.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="pathanamthitta"><img src="/assets/img/gallery/pat123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="pathanamthitta"><h3 class="card-title">Pathanamthitta</h3></a>
                            <p class="card-text">More than fifty per cent of the total area of this district is covered by forests. Pathanamthitta is one of the most important pilgrim centers in Kerala and there are many Temples and Churchs. Maramon, the place where the world famous Maramon convention is conducted, is in this district. Sabarimala,located at an altitude of 3790 feet, is one of the most famous pilgrim centers in India. The world famous Aranmula mirrors comes from this district.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="trivandrum"><img src="/assets/img/gallery/tri123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="trivandrum"><h3 class="card-title">Trivandrum</h3></a>
                            <p class="card-text">A gracious and evergreen city spread over seven hills, Trivandrum, capital of Kerala, is steeped in history and culture. Located in the extreme south of the state, its shores are washed by the warm waters of the Arabian Sea. This is a city where time moves gracefully with the day unfolding according to time honoured rhythms, qualities which make it one of the best cities in the country. Holding fort in the heart of the capital is Sri Padmanabhaswamy Temple.</p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="col text-center">
                     <button class="btn btn-dark btn-lg">
                        <i class="fa fa-play mr-2"></i> Start Booking
                    </button> -->
                </div>

     </section>






      <!-- Popular Places -->
      <section id="places" class="p-3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mt-3">
                      <a routerLink="thrissur"><img src="/assets/img/gallery/thri123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="thrissur"><h3 class="card-title">Thrissur</h3></a>
                            <p class="card-text">Thrissur, formerly Trichur, city, central Kerala state, southwestern India. The city is located 12 miles (19 km) inland from the Arabian Sea coast on an extensive lagoon system.Thrissur, a commercial and cultural centre, is considered to be the oldest city on the west coast of India. Its name means “small sacred place.” The city is built around a hillock topped by the Vadakkumnathan Temple (dedicated to Shiva), the focus of an annual festival. </p>
                            <!-- <button class="btn btn-teal btn-sm">Read More</button> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mt-3">
                        <a routerLink="wayanad"><img src="/assets/img/gallery/way123.jpg" class="card-img-top img-fluid" alt=""></a>
                        <div class="card-body">
                          <a class="distra" routerLink="wayanad"><h3 class="card-title">Wayanad</h3></a>
                            <p class="card-text">Wayanad, the green paradise is nestled among the mountains of the Western Ghats, forming the border world of the greener part of Kerala. Clean and pristine, enchanting and hypnotizing, this land is filled with history and culture. Located at a distance of 76 km.from the sea shores of Kozhikode, this verdant hill station is full of plantations, forests and wildlife. Wayanad hills are contiguous to Mudumalai in Tamil Nadu and Bandhipur in Karnataka.
                            </p>
                        </div>

                        </div>
                </div>
            </div>
            </div>
      </section>
                 



