<nav>
	<input id="nav-toggle" type="checkbox">
	<div class="logo text-primary"><a class="navbar-brand d-flex align-items-center fw-bold fs-2" routerLink="">
    <img routerLink="home" class="d-inline-block align-top img-fluid" src="/assets/img/gallery/logi-icon-test.png" alt="" width="100" />
  </a><strong ><span class="text fs-4 ps-2">Tripista</span></strong></div>
	<ul class="links">
		<li><a routerLink="">Home</a></li>
		<li><a routerLink="districts">Districts</a></li>
    <li><a routerLink="hotels">Hotels</a></li>
    <li><a routerLink="guide">Guide</a></li>
    <!-- <li><a routerLink="feedback">Feedback</a></li> -->
    <li><a routerLink="help">Help</a></li>
    <li><a routerLink="addhotel" *ngIf="_auth.adminloggedIn()" (click)="loggedAdmin()">Add Hotel</a></li>

      <li *ngIf="isLoggedIn"><a href="/feedback" routerLink="feedback">Feedback</a></li>

      <li *ngIf="isLoggedIn"><a class="mr-2" href="/profile" routerLink="profile"><img src="/assets/img/icons/profile.webp" style="height: 60px;"></a></li>

      <li *ngIf="isLoggedIn"><a  class="btn btn-lg btn-primary hover-top" (click)="logout()" style="background-color: rgba(255, 30, 0, 0.793); font-size: 16px; font-weight: 500; color: white; width: 100px">Log Out</a></li>
    

   <form  *ngIf="!isLoggedIn">
     <a style="font-size: 20px; font-weight: 500; color: white;" class="btn btn-lg btn-primary hover-top" routerLink="login" role="button">Log In</a>
   </form>
 

      <ul>
        <form class="links22">
          <a style="background-color: rgba(255, 30, 0, 0.793); font-size: 17px; font-weight: 500; " class="btn btn-lg btn-danger hover-top" *ngIf="_auth.adminloggedIn()" (click)="logoutUser()"  role="button">Admin Log Out</a>
        </form>
      </ul>


  </ul>


	<label for="nav-toggle" class="icon-burger">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</label>
</nav>
