
     <section class="vh-100" style="background-color: rgb(255, 255, 255);">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-14 col-xl-13">
    
    
                <!-- landing page -->
                <section class="pt-2">
                    <div class="hero-image" style="background-image: url('https://static2.tripoto.com/media/filter/nxl/img/1/SpotDocument/1479275177_1474891286_1474891286_bekal_fort_kasargod_final.png')">;
                        <div class="hero-text image-txt">
                            <h3>Explore</h3>
                            <h1 class="underline-red">Kasaragod</h1>
                        </div>
                    </div>
            
            
                </section>
                </div>
                </div>
                </div>
              </section>
    
                <!-- about US  -->
            
                <section class="container pt-2 col-md-8">
            
            
                    <section class="pt-1  about-us  row">
                        <div class="col col-12 col-lg-6 gallery">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let image of images" class="slide">
                                    <img [src]='image' />
                                </div>
                            </ngx-slick-carousel> <!-- competitions-carousel : ends -->
                        </div>
                        <div class=" details  p-4   col-12 col-lg-6 ">
                            <h2>About Kasaragod</h2>
                            <p>The northernmost district of Kerala, Kasaragod is renowned for its hills, forts and water bodies. 
                              The coir and handloom industry here are extremely famous around the world. The place is also popular for its ancient temples and rich biodiversity.
                               It is an important border district as well that regulates trade with a lot of neighbouring States. Legends regarding the district greet you at every turn on a visit here. 
                               A trip here is incomplete without visiting Bekal Fort, 
                              the most majestic and well maintained fort in South India.</p>
                        </div>
            
            
                    </section>
                    <!-- about us ends -->
    
    
    <div class="wrapper-grey padded">
      <div class="container row">
    
    <!-- hovering cards starts-->
    <div class="cardsp">
      <h2 class="hdtxt text-center" >Top Destinations</h2>
      <hr style="color: grey;">
      <br><br><br><br>
      <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column">
            <div class='cardspimg imgContainer'>
                <img src='/assets/img/gallery/bekfrt12.jpg'>
                <h2>Bekel Fort</h2>
            </div>
            <div class="content">
                <h2></h2>
                <p>Around 16 km to the south of northernmost district in Kerala, Kasaragod, lies the massive Bekal Fort.
                   It is among the biggest forts in Kerala and has been impeccably maintained throughout the years. 
                   </p>
            </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='/assets/img/gallery/tree1.jpg'>
                <h2>Manjeshwar</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>Manjeshwar is a beautiful coastal town famous for Cashew Nuts and as a Pilgrimage. It is located in the district of Kasaragod, on the northern side of God’s Own Country, 
                  Kerala, India. Manjeshwar has a rich history of unity in diversity and today, houses about 15 mosques and several temples.
                 </p>
              </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='/assets/img/gallery/nileshwar12.jpg'>
                <h2>Nileshwar</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>Nileshwaram, also known by the name of Nileshwar, is a major town that is located in the Kasaragod District of Kerala in southern India. 
                  Nileshwaram is one of the three municipalities that can be found in the district, the others being Kasaragod and Kanhangad.
                   </p>
              </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='https://res.cloudinary.com/thrillophilia/image/upload/c_fill,dpr_1.0,f_auto,fl_progressive.strip_profile,g_center,h_450,q_auto,w_753/v1/filestore/ft94bhfc16o9ww9lc7wthu0jtmoi_1552979567_ranipuram_hills.png'>
                <h2>Ranipuram Hills</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>Previously known as Madathumala, situated 750 meters above sea level, this destination boasts of some of the marvelous trekking trails of about two and a half kilometers with a cave at the summit. If seeking leisure the greens of shola woods and monsoon forests have all their natural beauty to offer you.
                </p>
              </div>
        </div>
    </div>
    </div>
    <hr style="color: grey;">
    <!-- hovering cards ends -->
    
    
    
    
      <!-- hotels starts ----------->
      <div style="  text-align: center;">
        <h1 class=""><u>Hotels</u></h1>
      </div>
      <section class="container pt-2 container-c">
        <div class="" >
        </div>
        <br>
        <ng-container *ngFor="let hotel of hotels">
          <ng-container class="" *ngIf="hotel.hotelAddress == 'Kasaragod'">
            <div class="card" [style.background]="'url( '+ hotel.hotelImageUrl +' )'"
              style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)) ; width:100% ; height:40vh ;">
              <div style="color: white; font-weight:600" class="card-category">{{hotel.hotelName}}</div>
              <div class="card-description">
                <h2 style="color: white; font-weight:600">{{hotel.hotelAddress}}</h2>
                <h4 style="color: rgb(236, 215, 215);">₹{{hotel.hotelPrice}}</h4>
                <p style="color: rgba(236, 215, 215, 0.727); font-size: 20px;">{{hotel.hotelContact}}, <a>{{hotel.hotelWebsite}}</a></p>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </section>
    


      <!-- hotels end ----------->
    

<!-- guides of alappuzha -->
<br><br><br><br><br>
<!-- guides of alappuzha end-->




    </div>
    </div>

    <br><br>
    <!-- Guides of tripsita starts -->

<div class="container">
<div class="row justify-content-center">
  <div class="col-12 col-sm-8 col-lg-6">
  <!-- <div class="col-4"> -->
    <!-- Section Heading-->
    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <h1><u> Guides <span> of Kasaragod</span></u></h1>
      <p></p><br><br>
      <div class="line"></div>
    </div>
  </div>
</div>
<div class="row guide-grid">
  <!-- Single Advisor-->
  <ng-container class="guide-container"  *ngFor="let guide of guides">
    <ng-container *ngIf="guide.district == 'Kasaragod'">
      <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
      <!-- Team Thumb-->
        <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> 
      <!-- Team Details-->
          <div class="single_advisor_details_info">
            <h6><strong>{{guide.first_name}} {{guide.last_name}}</strong></h6>
            <p class="designation">{{guide.dob}}</p>
            <p class="designation">{{guide.district}}</p>
            <p class="designation">{{guide.gender}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- Guides of tripsita starts ends -->