<div modal class="modal-backdrop.fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-content" style="background: rgba(255, 255, 255, 0.8)">
    <div class="modal-header">
      <h4 class="modal-title">Hello Traveller,</h4>
    </div>

    <div class="modal-body">

      <h4>Searching for jobs!!</h4>
      <h6>If you like travelling, dont do it just for fun</h6>
      <p>Get yourself verified as a travel guide <a type="button" href="#!" routerLink="/guide" (click)="closeModal()">here</a></p>
      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
        <img src="/assets/img/illustrations/marginalia-location-access.gif"
          class="img-fluid" alt="Sample video" autoplay muted loop>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-backdrop="false" class="btn btn-outline-dark" (click)="closeModal()" >Close</button>
    </div>
  </div>
</div>
