<!-- ===============================================-->
<!-- Guide Registration Form-->
<!-- ===============================================-->
<section class="vh-100" style="background-color: rgb(238, 238, 238); ">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 20px;">
            <div class="card-body p-md-0">
                <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
    
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Guide Registration</p>
    
                    <form [formGroup]="addGuide" novalidate style="border-color: black;" class="mx-1 mx-md-4 row g-3" onsubmit="return formValues()" method="post">

    
                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-md-6">
                        <input type="text" formControlName="first_name" id="first_name" class="form-control" style= "color: black" name="Name" placeholder="First Name"/>
                        </div>
                        <div class="form-outline flex-fill mb-0 col-md-6">
                        <input type="text" formControlName="last_name" id="last_name" class="form-control" style= "color: black" name="Name" placeholder="Last Name"/>
                        </div>
                    </div>
    
                    <!-- <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                        <input type="text" id="address1" placeholder="Address Line 1" class="form-control" style="color: black;" name="Address1" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                            <input type="text" id="address2" placeholder="Address Line 2" class="form-control" style="color: black;" name="Address2" />
                        </div>
                    </div> -->
    
                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-md-5">
                        <select style="color: black;" id="district" formControlName="district" class="form-select">
                            <option class="opt" selected disabled value="">District</option>
                            <option class="opt" value="Kasaragod">Kasaragod</option>
                            <option class="opt" value="Kannur">Kannur</option>
                            <option class="opt" value="Wayanad">Wayanad</option>
                            <option class="opt" value="Kozhikode">Kozhikode</option>
                            <option class="opt" value="Malappuram">Malappuram</option>
                            <option class="opt" value="Palakkad">Palakkad</option>
                            <option class="opt" value="Thrissur">Thrissur</option>
                            <option class="opt" value="Ernakulam">Ernakulam</option>
                            <option class="opt" value="Idukki">Idukki</option>
                            <option class="opt" value="Kottayam">Kottayam</option>
                            <option class="opt" value="Alappuzha">Alappuzha</option>
                            <option class="opt" value="Pathanamthitta">Pathanamthitta</option>
                            <option class="opt" value="Kollam">Kollam</option>
                            <option class="opt" value="Thiruvananthapuram">Thiruvananthapuram</option>
                        </select>
                        </div>
                        <div class="form-outline flex-fill mb-0 col-md-3">
                        <input type="text" formControlName="state" class="form-control" style="color: black;" name="state" id="state" placeholder="State"/>
                        </div>
                        <!-- <div class="form-outline flex-fill mb-0 col-md-4">
                        <input type="text" class="form-control" style="color: black;" name="zip" id="zip" placeholder="Zip"/>
                        </div> -->
                    </div>
    
                    <div class="d-flex flex-row align-items-center mb-4 push-up" style="margin: 0px;">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-md-4">
                        <fieldset class="row mb-3" style="margin-top: 15px;">
                            <legend class="col-form-label col-sm-3 pt-0">Gender</legend>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="gridRadios1" value="Male" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Male
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="gridRadios2" value="Female">
                                    <label class="form-check-label" for="gridRadios2">
                                        Female
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="gender" name="gender" id="gridRadios3" value="Transgender">
                                    <label class="form-check-label" for="gridRadios3">
                                        Transgender
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                            <input type="email" formControlName="email" id="email" placeholder="Email" class="form-control" style="color: black;" name="email" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                            <input type="text" formControlName="phone" id="phone" placeholder="Phone no." class="form-control" style="color: black;" name="phone" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                            <label for="dob">Date of Birth</label>
                            <input formControlName="dob" type="date" id="dob" placeholder="DOB" class="form-control" style="color: black;" name="dob" />
                        </div>
                    </div>

                    <!-- <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                            <select id="district" class="form-select">
                                <option value="">ID Proof</option>
                                <option value="aadhaar">Aadhaar</option>
                                <option value="driving_licence">Driving licence</option>
                                <option value="voter_id">Voter ID</option>
                            </select>
                        </div>
                    </div> -->

                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                            <label for="scanned_proof">Upload any valid ID proof</label>
                            <input type="file" formControlName="id_proof" id="id_proof" class="form-control" style="color: black;" name="id_proof" />
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4 push-up">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0 col-12">
                            <label for="biodata">Upload your Biodata</label>
                            <input type="file" formControlName="biodata" id="biodata" class="form-control" style="color: black;" name="biodata" />
                        </div>
                    </div>
    
                    <div class="form-check d-flex justify-content-center mb-5 push-up">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" /><label class="form-check-label" for="form2Example3">I agree all statements in <a href="#!">Terms of service</a></label>
                    </div>
    
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4  push-up">
                        <button type="submit" (click)="onSubmit()" name="Submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
    
                    </form>
    
                </div>

                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                    <img [src]="signup_img"
                    class="img-fluid" alt="Guide image">
                </div>

                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    
</section>


