
    <section class="vh-100" style="background-color: rgb(255, 255, 255);">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-14 col-xl-13">
    
    
                <!-- landing page -->
                <section class="pt-2">
                    <div class="hero-image" style="background-image: url('/assets/img/gallery/mal123.jpg')">;
                        <div class="hero-text image-txt">
                            <h3>Explore</h3>
                            <h1 class="underline-red">Malappuram</h1>
                        </div>
                    </div>
            
            
                </section>
                </div>
                </div>
                </div>
              </section>
    
                <!-- about US  -->
            
                <section class="container pt-2 col-md-8">
            
            
                    <section class="pt-1  about-us  row">
                        <div class="col col-12 col-lg-6 gallery">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let image of images" class="slide">
                                    <img [src]='image' />
                                </div>
                            </ngx-slick-carousel> <!-- competitions-carousel : ends -->
                        </div>
                        <div class=" details  p-4   col-12 col-lg-6 ">
                            <h2>About Malappuram</h2>
                            <p>Bounded by the Nilgiris hills on the East and the Arabian Sea on the west, the district of Malappuram literally the land atop the hills, is remarkable for its unique natural beauty. Perched among the undulating hills and the meandering rivers that flow to reach the coconut-fringed seacoast, the land conceals a unique and eventful history. The hill country also contributed much to the cultural artistic traditions of the state.</p>
                        </div>
            
            
                    </section>
                    <!-- about us ends -->
    
    
    <div class="wrapper-grey padded">
      <div class="container row">
    
    <!-- hovering cards starts-->
    <div class="cardsp">
      <h2 class="hdtxt text-center" >Top Destinations</h2>
      <hr style="color: grey;">
      <br><br><br><br>
      <div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
        <div class="card d-flex position-relative flex-column">
            <div class='cardspimg imgContainer'>
                <img src='/assets/img/gallery/kotknn12.jpg'>
                <h2>Kottakkunnu</h2>
            </div>
            <div class="content">
                <h2></h2>
                <p>Kottakkunnu is a mesmerising garden situated on a hill. 
                  Its beauty is often compared with the picturesque Marine Drive in Mumbai.
                   The attraction has a Water Park, an Adventure Park, an Art Gallery, 16D cinema, an Open Air Theatre and a Balloon Park.</p>
            </div>
        </div>
        
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='/assets/img/gallery/minoot12.jpg'>
                <h2>Mini Ooty</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>Mini Ooty is another name given to the enchanting Arimbra Hills.
                   The attraction is located about 1000 feet above sea level and is famous for its picturesque location and a mind stirring view of the surrounding valleys and rolling hills.
                    It is a favourite weekend getaway for the locals.</p>
              </div>
        </div>
        <div class="card d-flex position-relative flex-column">
            <div class='cardsp imgContainer'>
                <img src='/assets/img/gallery/nedmk12.jpg'>
                <h2>Nedumkayam</h2>
              </div>
            <div class="content">
                <h2></h2>
                <p>Nedumkayam is a rainforest and a part of the Nilgiri Bioreserve. 
                  It is mostly known for its dense forestation with several species of flora and fauna including some rare and endangered species and several mesmerising water bodies making it is a perfect attraction for nature lovers.</p>
              </div>
        </div>
        <div class="card d-flex position-relative flex-column">
          <div class='cardsp imgContainer'>
              <img src='https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/huzmdij8qztdikdg80sqf8okkznh_1551071670_ef7aac186f0c55c85300661e2fe1859a.jpg.jpg'>
              <h2>Keralamkundu Waterfalls</h2>
            </div>
          <div class="content">
              <h2></h2>
              <p>A basin at the base of waterfalls where people can enjoy a dip in the pond is something everyone wants to have an experience. Keralam Kundu Waterfalls are undoubtedly the best of all Malappuram Tourist Places, and that is why people keep flocking here to have an experience of the mystical.</p>
      </div>
    </div>
    </div>
    <hr style="color: grey;">
    <!-- hovering cards ends -->
    
    
    
          <!-- hotels starts ----------->
          <div style="  text-align: center;">
            <h1 class=""><u>Hotels</u></h1>
          </div>
          <section class="container pt-2 container-c">
            <div class="" >
            </div>
            <br>
            <ng-container *ngFor="let hotel of hotels">
              <ng-container class="" *ngIf="hotel.hotelAddress == 'Malappuram'">
                <div class="card" [style.background]="'url( '+ hotel.hotelImageUrl +' )'"
                  style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)) ; width:100% ; height:40vh ;">
                  <div style="color: white; font-weight:600" class="card-category">{{hotel.hotelName}}</div>
                  <div class="card-description">
                    <h2 style="color: white; font-weight:600">{{hotel.hotelAddress}}</h2>
                    <h4 style="color: rgb(236, 215, 215);">₹{{hotel.hotelPrice}}</h4>
                    <p style="color: rgba(236, 215, 215, 0.727); font-size: 20px;">{{hotel.hotelContact}}, <a>{{hotel.hotelWebsite}}</a></p>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </section>
        
    
    
          <!-- hotels end ----------->

    

<!-- guides of alappuzha -->
<br><br><br><br><br>
<!-- guides of alappuzha end-->




    </div>
    </div>

<!-- ---------------------- -->
<br><br>
      <!-- Guides of tripsita starts -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
    <!-- <div class="col-4"> -->
      <!-- Section Heading-->
      <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <h1><u> Guides <span> of Malappuram</span></u></h1>
        <p></p><br><br>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="row guide-grid">
    <!-- Single Advisor-->
    <ng-container class="guide-container"  *ngFor="let guide of guides">
      <ng-container *ngIf="guide.district == 'Malappuram'">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Team Thumb-->
          <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""> 
        <!-- Team Details-->
            <div class="single_advisor_details_info">
              <h6><strong>{{guide.first_name}} {{guide.last_name}}</strong></h6>
              <p class="designation">{{guide.dob}}</p>
              <p class="designation">{{guide.district}}</p>
              <p class="designation">{{guide.gender}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

<!-- Guides of tripsita starts ends -->
